roles/jboss_install/files/jboss_eap/6.4/jboss-eap-6.4.0.zip filter=lfs diff=lfs merge=lfs -text
roles/jboss_install/files/jboss_eap/6.4/patches/*.zip filter=lfs diff=lfs merge=lfs -text
roles/jboss_install/files/activemq/6.3/activemq-rar-6.3.0.rar filter=lfs diff=lfs merge=lfs -text
