/server-group=cluster-group-rest:add(profile=full-ha-rest, socket-binding-group=full-ha-sockets)
/server-group=cluster-group-ejb:add(profile=full-ha-ejb, socket-binding-group=full-ha-sockets)

{% if connections is defined %}
{% for conn in connections %}
{% for host in conn.hosts %}
{% if loop.index == 1 %}
if (result=="DOMAIN") of /:read-attribute(name=launch-type)
/socket-binding-group=full-ha-sockets/remote-destination-outbound-socket-binding={{conn.binding}}:add(host={{host.host}}, port={{host.port}})
cd /profile={{conn.profile|default("example-profile")}}
else
/socket-binding-group=standard-sockets/remote-destination-outbound-socket-binding={{conn.binding}}:add(host={{host.host}}, port={{host.port}})
end-if
./subsystem=remoting/remote-outbound-connection={{conn.name}}:add(outbound-socket-binding-ref={{conn.binding}}, security-realm=ejb-security-realm, username=ejb{% if conn.protocol is defined %},protocol={{conn.protocol}}{% endif %})
./subsystem=remoting/remote-outbound-connection={{conn.name}}/property=SASL_POLICY_NOANONYMOUS:add(value=false)
./subsystem=remoting/remote-outbound-connection={{conn.name}}/property=SSL_ENABLED:add(value=false)
{% else %}
if (result=="DOMAIN") of /:read-attribute(name=launch-type)
/socket-binding-group=full-ha-sockets/remote-destination-outbound-socket-binding={{conn.binding}}-{{loop.index}}:add(host={{host.host}}, port={{host.port}})
cd /profile={{conn.profile|default("example-profile")}}
else
/socket-binding-group=standard-sockets/remote-destination-outbound-socket-binding={{conn.binding}}-{{loop.index}}:add(host={{host.host}}, port={{host.port}})
end-if
./subsystem=remoting/remote-outbound-connection={{conn.name}}-{{loop.index}}:add(outbound-socket-binding-ref={{conn.binding}}-{{loop.index}}, security-realm=ejb-security-realm, username=ejb)
./subsystem=remoting/remote-outbound-connection={{conn.name}}-{{loop.index}}/property=SASL_POLICY_NOANONYMOUS:add(value=false)
./subsystem=remoting/remote-outbound-connection={{conn.name}}-{{loop.index}}/property=SSL_ENABLED:add(value=false)
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

